app/contacts.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Иприс - Контакты</title>
    <!-- Стили темы-->
    <link id="wp-block-library-css" rel="stylesheet" href="http://wc.stepanweb.ru/wp-includes/css/dist/block-library/style.css" media="all">
    <link id="wp-block-library-theme-css" rel="stylesheet" href="http://wc.stepanweb.ru/wp-includes/css/dist/block-library/theme.css" media="all">
    <link id="wc-block-vendors-style-css" rel="stylesheet" href="http://wc.stepanweb.ru/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/vendors-style.css" media="all">
    <link id="wc-block-style-css" rel="stylesheet" href="http://wc.stepanweb.ru/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style.css" media="all">
    <link id="storefront-gutenberg-blocks-css" rel="stylesheet" href="http://wc.stepanweb.ru/wp-content/themes/storefront/assets/css/base/gutenberg-blocks.css" media="all">
    <link id="woof-css" rel="stylesheet" href="http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/css/front.css" media="all">
    <link id="chosen-drop-down-css" rel="stylesheet" href="http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/js/chosen/chosen.min.css" media="all">
    <link id="charitable-styles-css" rel="stylesheet" href="http://wc.stepanweb.ru/wp-content/plugins/charitable/assets/css/charitable.css" media="all">
    <link id="storefront-style-css" rel="stylesheet" href="http://wc.stepanweb.ru/wp-content/themes/storefront/style.css" media="all">
    <link id="storefront-icons-css" rel="stylesheet" href="http://wc.stepanweb.ru/wp-content/themes/storefront/assets/css/base/icons.css" media="all">
    <link id="storefront-woocommerce-style-css" rel="stylesheet" href="http://wc.stepanweb.ru/wp-content/themes/storefront/assets/css/woocommerce/woocommerce.css" media="all">
    <!-- Стили пользовательские-->
    <!-- fancybox.js-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha512-H9jrZiiopUdsLpg94A333EfumgUBpO9MdbxStdeITo+KEIMaNfHNvwyjjDJb+ERPaRS6DpyRlKbvPUasNItRyw==" crossorigin="anonymous">
    <link rel="stylesheet" href="css/custom.css">
    <!-- удалить-->
    <style>
      @font-face {
      font-family: 'Font Awesome 5 Brands';
      font-style: normal;
      font-weight: 400;
      font-display: block;
      src: url("fonts/fontawesome/fa-brands-400.eot");
      src: url("fonts/fontawesome/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("fonts/fontawesome/fa-brands-400.woff2") format("woff2"), url("fonts/fontawesome/fa-brands-400.woff") format("woff"), url("fonts/fontawesome/fa-brands-400.ttf") format("truetype"), url("fonts/fontawesome/fa-brands-400.svg#fontawesome") format("svg"); }
      
      @font-face {
      font-family: 'Font Awesome 5 Free';
      font-style: normal;
      font-weight: 900;
      font-display: block;
      src: url("fonts/fontawesome/fa-solid-900.eot");
      src: url("fonts/fontawesome/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("fonts/fontawesome/fa-solid-900.woff2") format("woff2"), url("fonts/fontawesome/fa-solid-900.woff") format("woff"), url("fonts/fontawesome/fa-solid-900.ttf") format("truetype"), url("fonts/fontawesome/fa-solid-900.svg#fontawesome") format("svg"); }
      
      
      
    </style>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="http://wc.stepanweb.ru/wp-content/plugins/charitable/assets/js/libraries/js-cookie.js?ver=2.1.4"></script>
    <script type="text/javascript">
      var woof_is_permalink =1;
      var woof_shop_page = "";
      var woof_really_curr_tax = {};
      var woof_current_page_link = location.protocol + '//' + location.host + location.pathname;
      woof_current_page_link = woof_current_page_link.replace(/\\page\/[0-9]+/, "");
      woof_current_page_link = "http://wc.stepanweb.ru/shop/";
      var woof_link = 'http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/';
    </script>
    <script>
      var woof_ajaxurl = "http://wc.stepanweb.ru/wp-admin/admin-ajax.php";
      var woof_lang = {
      'orderby': "orderby",
      'date': "date",
      'perpage': "per page",
      'pricerange': "price range",
      'menu_order': "menu order",
      'popularity': "popularity",
      'rating': "rating",
      'price': "price low to high",
      'price-desc': "price high to low"
      };
      if (typeof woof_lang_custom == 'undefined') {
      var woof_lang_custom = {};/*!!important*/
      }
      //***
      var woof_is_mobile = 0;
      var woof_show_price_search_button = 0;
      var woof_show_price_search_type = 0;
      woof_show_price_search_button = 1;
      var woof_show_price_search_type = 1;
      var swoof_search_slug = "swoof";
      var icheck_skin = {};
      icheck_skin = 'none';
      var is_woof_use_chosen =1;
      var woof_current_values = '[]';
      //+++
      var woof_lang_loading = "Loading ...";
      var woof_lang_show_products_filter = "show products filter";
      var woof_lang_hide_products_filter = "hide products filter";
      var woof_lang_pricerange = "price range";
      //+++
      var woof_use_beauty_scroll =0;
      //+++
      var woof_autosubmit =1;
      var woof_ajaxurl = "http://wc.stepanweb.ru/wp-admin/admin-ajax.php";
      /*var woof_submit_link = "";*/
      var woof_is_ajax = 0;
      var woof_ajax_redraw = 0;
      var woof_ajax_page_num =1;
      var woof_ajax_first_done = false;
      var woof_checkboxes_slide_flag = true;
      //toggles
      var woof_toggle_type = "text";
      var woof_toggle_closed_text = "-";
      var woof_toggle_opened_text = "+";
      var woof_toggle_closed_image = "http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/img/plus3.png";
      var woof_toggle_opened_image = "http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/img/minus3.png";
      //indexes which can be displayed in red buttons panel
      var woof_accept_array = ["min_price", "orderby", "perpage", "min_rating","product_visibility","product_cat","product_tag","pa_color","pa_size"];
      //***
      //for extensions
      var woof_ext_init_functions = null;
      var woof_overlay_skin = "default";
      jQuery(function () {
      try
      {
      woof_current_values = jQuery.parseJSON(woof_current_values);
      } catch (e)
      {
      woof_current_values = null;
      }
      if (woof_current_values == null || woof_current_values.length == 0) {
      woof_current_values = {};
      }
      });
      function woof_js_after_ajax_done() {
      jQuery(document).trigger('woof_ajax_done');
      }
    </script>
  </head>
  <body class="archive post-type-archive post-type-archive-product wp-embed-responsive theme-storefront woocommerce woocommerce-page woocommerce-js storefront-align-wide right-sidebar woocommerce-active">
    <div class="main-wrapper">
      <!-- header-->
      <header class="site-header" id="masthead" role="banner">
        <div class="col-full">
          <div class="logo"><a href="/"><img src="img/logo.png" alt="alt"></a>
          </div>
          <div class="site-search">
            <div class="widget woocommerce widget_product_search">
              <form class="woocommerce-product-search" role="search" method="get" action="">
                <label class="screen-reader-text" for="woocommerce-product-search-field-0">Искать:</label>
                <input class="search-field" id="woocommerce-product-search-field-0" type="search" placeholder="Поиск по товарам…" value="" name="s">
                <button type="submit" value="Поиск">Поиск</button>
                <input type="hidden" name="post_type" value="product">
              </form>
            </div>
          </div>
          <div class="site-tel"><i class="fas fa-phone-alt"></i><a href="tel:88007003333">8 800 700 33 33</a></div>
        </div>
        <div class="storefront-primary-navigation">
          <div class="col-full">
            <nav class="main-navigation" id="site-navigation" role="navigation" aria-label="Основное меню">
              <button class="menu-toggle" aria-controls="site-navigation" aria-expanded="false"><span>Меню</span></button>
              <div class="primary-navigation">
                <ul class="menu nav-menu" id="menu-primary" aria-expanded="false">
                  <li><a href="index.html">Главная</a></li>
                  <li class="--with-sublist"><a href="catalog.html">Каталог</a>
                    <ul class="sublist">
                      <li class="--with-sublist"><a href="category.html">Гостинные</a>
                        <ul class="sublist">
                          <li><a href="#">Коллекция 1</a></li>
                          <li><a href="#">Коллекция 2</a></li>
                          <li><a href="#">Коллекция 3</a></li>
                          <li><a href="#">Коллекция 4</a></li>
                          <li><a href="#">Коллекция 5</a></li>
                        </ul>
                      </li>
                      <li class="--with-sublist"><a href="category.html">Детская мебель</a>
                        <ul class="sublist">
                          <li><a href="#">Коллекция фывап 1</a></li>
                          <li><a href="#">Коллекция фывап 2</a></li>
                          <li><a href="#">Коллекция фывап 3</a></li>
                          <li><a href="#">Коллекция фывап 4</a></li>
                          <li><a href="#">Коллекция фывап 5</a></li>
                        </ul>
                      </li>
                      <li class="--with-sublist"><a href="category.html">Комоды и тумбы</a>
                        <ul class="sublist">
                          <li><a href="#">Коллекция фывфывфыв 1</a></li>
                        </ul>
                      </li>
                      <li class="--with-sublist"><a href="category.html">Шкафы</a>
                        <ul class="sublist">
                          <li><a href="#">Коллекция 1</a></li>
                          <li><a href="#">Коллекция 2</a></li>
                          <li><a href="#">Коллекция 3</a></li>
                          <li><a href="#">Коллекция 4</a></li>
                          <li><a href="#">Коллекция 5</a></li>
                        </ul>
                      </li>
                      <li class="--with-sublist"><a href="category.html">Прихожие</a>
                        <ul class="sublist">
                          <li><a href="#">Коллекция 1</a></li>
                          <li><a href="#">Коллекция 2</a></li>
                          <li><a href="#">Коллекция 3</a></li>
                          <li><a href="#">Коллекция 4</a></li>
                          <li><a href="#">Коллекция 5</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="checkout.html">Оформление заказа</a></li>
                  <li><a href="delivery.html">Доставка и оплата</a></li>
                  <li><a href="page.html">Сборка</a></li>
                  <li><a href="news.html">Новости</a></li>
                  <li class="active"><a href="contacts.html">Контакты</a></li>
                  <li class="site-tel"><i class="fas fa-phone-alt"></i><a href="tel:88007003333">8 800 700 33 33</a></li>
                </ul>
              </div>
            </nav>
            <!-- #site-navigation-->
            <ul class="site-header-cart menu" id="site-header-cart">
              <li><a class="cart-contents" href="cart/" title="Посмотреть вашу корзину"><span class="woocommerce-Price-amount amount">10 500<span class="woocommerce-Price-currencySymbol">₽</span></span><span class="count">1 товар</span></a></li>
              <li>
                <div class="widget woocommerce widget_shopping_cart">
                  <div class="widget_shopping_cart_content">
                    <ul class="woocommerce-mini-cart cart_list product_list_widget">
                      <li class="woocommerce-mini-cart-item mini_cart_item"><a class="remove remove_from_cart_button" href="http://wc.stepanweb.ru/cart/?remove_item=38e798a1587e3165bc8e336ae84c1058&amp;_wpnonce=519b90139f" aria-label="Удалить эту позицию" data-product_id="49" data-cart_item_key="38e798a1587e3165bc8e336ae84c1058" data-product_sku="woo-vneck-tee-green">×</a><a href="http://wc.stepanweb.ru/product/v-neck-t-shirt/?attribute_pa_color=green&amp;attribute_pa_size=large"><img class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" width="324" height="324" src="http://wc.stepanweb.ru/wp-content/uploads/sites/2/2020/07/vnech-tee-green-1-324x324.jpg" alt="" srcset="http://wc.stepanweb.ru/wp-content/uploads/sites/2/2020/07/vnech-tee-green-1-324x324.jpg 324w, http://wc.stepanweb.ru/wp-content/uploads/sites/2/2020/07/vnech-tee-green-1-300x300.jpg 300w, http://wc.stepanweb.ru/wp-content/uploads/sites/2/2020/07/vnech-tee-green-1-150x150.jpg 150w, http://wc.stepanweb.ru/wp-content/uploads/sites/2/2020/07/vnech-tee-green-1-768x768.jpg 768w, http://wc.stepanweb.ru/wp-content/uploads/sites/2/2020/07/vnech-tee-green-1-416x416.jpg 416w, http://wc.stepanweb.ru/wp-content/uploads/sites/2/2020/07/vnech-tee-green-1-100x100.jpg 100w, http://wc.stepanweb.ru/wp-content/uploads/sites/2/2020/07/vnech-tee-green-1.jpg 800w" sizes="(max-width: 324px) 100vw, 324px">V-Neck T-Shirt - Green</a>
                        <dl class="variation">
                          <dt class="variation-Size">Size:</dt>
                          <dd class="variation-Size">
                            <p>Large</p>
                          </dd>
                        </dl><span class="quantity">2 × <span class="woocommerce-Price-amount amount">
                            <bdi>20,00<span class="woocommerce-Price-currencySymbol">₽</span></bdi></span></span>
                      </li>
                    </ul>
                    <p class="woocommerce-mini-cart__total total"><strong>Подытог:</strong><span class="woocommerce-Price-amount amount">
                        <bdi>40,00<span class="woocommerce-Price-currencySymbol">₽</span></bdi></span></p>
                    <p class="woocommerce-mini-cart__buttons buttons"><a class="button wc-forward" href="cart.html">Просмотр корзины</a><a class="button checkout wc-forward" href="checkout.html">Оформление заказа</a></p>
                  </div>
                </div>
              </li>
            </ul>
            <div class="site-header-favourite"><a class="favourite-ic" href="#"></a></div>
          </div>
        </div>
      </header>
      <!-- /.header-->
      <div class="page">
        <div class="page-top">
          <div class="container">
            <h1>Контакты</h1>
          </div>
          <div class="storefront-breadcrumb">
            <div class="col-full">
              <nav class="woocommerce-breadcrumb"><a href="/">Главная</a><span class="breadcrumb-separator"> / </span>Контакты</nav>
            </div>
          </div>
        </div>
        <!-- /.page-top-->
        <section class="section contacts">
          <div class="container">
            <h3>Адрес и телефоны:</h3>
            <div class="contacts__row flex">
              <div class="contacts__col">
                <div class="contacts__item">
                  <div class="contacts__title"><i class="fas fa-map-marker-alt"></i>Адрес:</div>
                  <address class="contacts__data">195213, Санкт-Петербург, ул. Латышских стрелков, 31 корп., 4 литер М</address><a class="contacts__link" href="#">Схема проезда</a>
                </div>
                <!-- /.contacts__item-->
              </div>
              <!-- /.contacts__col-->
              <div class="contacts__col">
                <div class="contacts__item">
                  <div class="contacts__title"><i class="fas fa-phone-alt"></i>Телефоны:</div>
                  <div class="contacts__data">
                    <ul class="list">
                      <li><a href="tel:88007003333">8 800 700 33 33</a></li>
                      <li><a href="tel:74953228888">7 (495) 322 88 88</a><small>(отдел продаж) </small></li>
                    </ul>
                  </div><a class="contacts__link" href="#">Заказать звонок</a>
                </div>
                <!-- /.contacts__item-->
              </div>
              <!-- /.contacts__col-->
              <div class="contacts__col">
                <div class="contacts__item">
                  <div class="contacts__title"><i class="fas fa-envelope"></i>E-mail:</div>
                  <div class="contacts__data"><a class="text-link" href="mailto:info@iprismebel.ru">info@iprismebel.ru</a></div><a class="contacts__link" href="#">Написать</a>
                </div>
                <!-- /.contacts__item-->
              </div>
              <!-- /.contacts__col-->
              <div class="contacts__col">
                <div class="contacts__item">
                  <div class="contacts__title"><i class="fas fa-clock"></i>Режим работы:</div>
                  <div class="contacts__data">
                    <ul class="list">
                      <li>Пн-Пт: с 10:00 по 19:00,</li>
                      <li>Сб-Вс:  с 11:00 по 18:00</li>
                    </ul>
                  </div>
                </div>
                <!-- /.contacts__item-->
              </div>
              <!-- /.contacts__col-->
            </div>
            <!-- /.contacts__row.flex-->
            <div class="requisites">
              <h3>Реквизиты:</h3>
              <div class="requisites__row flex">
                <div class="requisites__col">
                  <table class="requisites__table">
                    <tr>
                      <th>Компания</th>
                      <td>OOO “Иприс Мебель”</td>
                    </tr>
                    <tr>
                      <th>Юредический адрес:</th>
                      <td>195213, Санкт-Петербург, ул. Латышских стрелков, 31 корп., 4 литер М</td>
                    </tr>
                    <tr>
                      <th>Почтовый адрес:</th>
                      <td>195213, Санкт-Петербург, ул. Латышских стрелков, 31 корп., 4 литер М</td>
                    </tr>
                    <tr>
                      <th>ИНН</th>
                      <td>7734597835</td>
                    </tr>
                    <tr>
                      <th>КПП</th>
                      <td>421025762</td>
                    </tr>
                  </table>
                  <!-- /.requisites__table-->
                </div>
                <!-- /.requisites__col-->
                <div class="requisites__col">
                  <table class="requisites__table">
                    <tr>
                      <th>р/с №</th>
                      <td>30214899700351027529</td>
                    </tr>
                    <tr>
                      <th>Корр. сч:</th>
                      <td>130032218795428556014</td>
                    </tr>
                    <tr>
                      <th>БИК банка</th>
                      <td>142563557</td>
                    </tr>
                    <tr>
                      <th>Телефон</th>
                      <td>8 800 700 33 33</td>
                    </tr>
                    <tr>
                      <th>E-mail:</th>
                      <td>info@iprismebel.ru</td>
                    </tr>
                    <tr>
                      <th>Директор</th>
                      <td>Алексеев Анатолий Анатолиевич</td>
                    </tr>
                  </table>
                  <!-- /.requisites__table-->
                </div>
                <!-- /.requisites__col-->
              </div>
              <!-- /.requisites__row-->
            </div>
            <!-- /.requisites-->
            <div class="contacts-map" style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/2/saint-petersburg/?utm_medium=mapframe&amp;utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Санкт‑Петербург</a><a href="https://yandex.ru/maps/2/saint-petersburg/house/ulitsa_latyshskikh_strelkov_31/Z0kYcgNoTUMPQFtjfXVydH5mbQ==/?ll=30.454368%2C59.934810&amp;utm_medium=mapframe&amp;utm_source=maps&amp;z=13.29" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Латышских Стрелков, 31 — Яндекс.Карты</a>
              <iframe src="https://yandex.ru/map-widget/v1/-/CCQxMNwblA" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
            </div>
          </div>
          <!-- /.container-->
        </section>
        <!-- /.section-->
      </div>
      <!-- /.page-->
      <!-- footer-->
      <footer class="site-footer">
        <div class="container">
          <div class="site-footer__row flex">
            <div class="site-footer__col">
              <div class="site-footer__title">Каталог</div>
              <ul class="site-footer__list list">
                <li><a class="site-footer__link" href="category.html">Гостинные</a></li>
                <li><a class="site-footer__link" href="category.html">Детская мебель</a></li>
                <li><a class="site-footer__link" href="category.html">Комоды и тумбы</a></li>
                <li><a class="site-footer__link" href="category.html">Шкафы</a></li>
                <li><a class="site-footer__link" href="category.html">Прихожые</a></li>
              </ul>
            </div>
            <!-- /.site-footer__col-->
            <div class="site-footer__col">
              <div class="site-footer__title">О нас</div>
              <ul class="site-footer__list list">
                <li><a class="site-footer__link" href="contacts.html">Контакты</a></li>
                <li><a class="site-footer__link" href="news.htm">Новости</a></li>
              </ul>
            </div>
            <!-- /.site-footer__col-->
            <div class="site-footer__col">
              <div class="site-footer__title">Заказ</div>
              <ul class="site-footer__list list">
                <li><a class="site-footer__link" href="checkout.html">Оформление заказа</a></li>
                <li><a class="site-footer__link" href="delivery.html">Доставка и оплата</a></li>
                <li><a class="site-footer__link" href="page.html">Сборка</a></li>
                <li><a class="site-footer__link" href="page.html">Гарантия</a></li>
              </ul>
            </div>
            <!-- /.site-footer__col-->
            <div class="site-footer__col">
              <div class="site-footer__title">Контакты</div>
              <div class="site-tel"><i class="fas fa-phone-alt"></i><a href="tel:88007003333">8 800 700 33 33</a></div>
              <address class="site-address"><i class="fas fa-map-marker-alt"></i><span>195213, Санкт-Петербург, ул. Латышских стрелков, 31 корп., 4 литер&nbsp;М</span></address>
              <div class="site-email"><i class="fas fa-envelope"></i><a href="mailto:info@iprismebel.ru">info@iprismebel.ru</a></div>
              <ul class="social-links list flex">
                <li><a class="social-link" href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                <li><a class="social-link" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a class="social-link" href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
              </ul>
            </div>
            <!-- /.site-footer__col-->
          </div>
          <!-- /.site-footer__row-->
        </div>
        <!-- /.container-->
        <div class="copy">
          <div class="container">
            <p>&copy; 2020 <span class="color-accent">Иприс Мебель.</span>Все права защищены</p>
          </div>
          <!-- /.container-->
        </div>
        <!-- /.copy-->
        <div class="storefront-handheld-footer-bar">
          <ul class="columns-3">
            <li class="site-footer-favourite"><a class="favourite-ic" href="#"></a></li>
            <li class="search"><a href="">Поиск</a>
              <div class="site-search">
                <div class="widget woocommerce widget_product_search">
                  <form class="woocommerce-product-search" role="search" method="get" action="http://wc.stepanweb.ru/">
                    <label class="screen-reader-text" for="woocommerce-product-search-field-1">Искать:</label>
                    <input class="search-field" id="woocommerce-product-search-field-1" type="search" placeholder="Поиск по товарам…" value="" name="s">
                    <button type="submit" value="Поиск">Поиск</button>
                    <input type="hidden" name="post_type" value="product">
                  </form>
                </div>
              </div>
            </li>
            <li class="cart"><a class="footer-cart-contents" href="http://wc.stepanweb.ru/cart/" title="Посмотреть вашу корзину"><span class="count">1</span></a></li>
          </ul>
        </div>
      </footer>
      <div class="scroll-up" style="display: none;">
        <div class="scroll-up__ic"></div>
      </div>
      <!-- /.footer-->
    </div>
    <!-- /.main-wrapper-->
    <link id="woof_tooltip-css-css" rel="stylesheet" href="http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/js/tooltip/css/tooltipster.bundle.min.css?ver=1.2.4" media="all">
    <link id="woof_tooltip-css-noir-css" rel="stylesheet" href="http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/js/tooltip/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-noir.min.css?ver=1.2.4" media="all">
    <script src="http://wc.stepanweb.ru/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.js?ver=2.70"></script>
    <script src="http://wc.stepanweb.ru/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.js?ver=4.4.1"></script>
    <script src="http://wc.stepanweb.ru/wp-content/themes/storefront/assets/js/navigation.js?ver=2.6.0"></script>
    <script src="http://wc.stepanweb.ru/wp-content/themes/storefront/assets/js/skip-link-focus-fix.js?ver=20130115"></script>
    <script src="http://wc.stepanweb.ru/wp-content/themes/storefront/assets/js/vendor/pep.min.js?ver=0.4.3"></script>
    <script src="http://wc.stepanweb.ru/wp-content/themes/storefront/assets/js/woocommerce/header-cart.js?ver=2.6.0"></script>
    <script src="http://wc.stepanweb.ru/wp-content/themes/storefront/assets/js/footer.js?ver=2.6.0"></script>
    <script src="http://wc.stepanweb.ru/wp-includes/js/wp-embed.js?ver=5.4.2"></script>
    <script src="http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/js/tooltip/js/tooltipster.bundle.min.js?ver=1.2.4"></script>
    <script src="http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/js/front.js?ver=1.2.4"></script>
    <script src="http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/js/html_types/radio.js?ver=1.2.4"></script>
    <script src="http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/js/html_types/checkbox.js?ver=1.2.4"></script>
    <script src="http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/js/html_types/select.js?ver=1.2.4"></script>
    <script src="http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/js/html_types/mselect.js?ver=1.2.4"></script>
    <script src="http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/js/chosen/chosen.jquery.min.js?ver=1.2.4"></script>
    <script src="http://wc.stepanweb.ru/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4"></script>
    <script src="http://wc.stepanweb.ru/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4"></script>
    <script src="http://wc.stepanweb.ru/wp-includes/js/jquery/ui/mouse.min.js?ver=1.11.4"></script>
    <script src="http://wc.stepanweb.ru/wp-includes/js/jquery/ui/slider.min.js?ver=1.11.4"></script>
    <script src="http://wc.stepanweb.ru/wp-content/plugins/woocommerce/assets/js/jquery-ui-touch-punch/jquery-ui-touch-punch.js?ver=4.4.1"></script>
    <script src="http://wc.stepanweb.ru/wp-content/plugins/woocommerce/assets/js/accounting/accounting.js?ver=0.4.2"></script>
    <script>var woocommerce_price_slider_params = {"currency_format_num_decimals":"0","currency_format_symbol":"&#8381;","currency_format_decimal_sep":",","currency_format_thousand_sep":"","currency_format":"%v%s"};</script>
    <script src="http://wc.stepanweb.ru/wp-content/plugins/woocommerce/assets/js/frontend/price-slider.js?ver=4.4.1"></script>
    <script src="http://wc.stepanweb.ru/wp-content/plugins/woocommerce-products-filter/js/woof_sid.js?ver=1.2.4"></script>
    <!-- Пользовательские скрипты-->
    <script src="js/custom.js"></script>
  </body>
</html>

app/pug/contacts.pug
- var page = "contacts"

doctype html
html(lang="ru")

	include pug-modules/head

	body.archive.post-type-archive.post-type-archive-product.wp-embed-responsive.theme-storefront.woocommerce.woocommerce-page.woocommerce-js.storefront-align-wide.right-sidebar.woocommerce-active

		.main-wrapper

			// header
			include pug-modules/header
			// /.header

			.page

				.page-top

					.container
						h1 Контакты

					.storefront-breadcrumb
						.col-full
							nav.woocommerce-breadcrumb
								a(href='/') Главная
								span.breadcrumb-separator  / 
								| Контакты

				// /.page-top




				section.section.contacts

					.container


						h3 Адрес и телефоны:

						.contacts__row.flex

							.contacts__col

								.contacts__item

									.contacts__title
										i.fas.fa-map-marker-alt
										| Адрес:

									address.contacts__data 195213, Санкт-Петербург, ул. Латышских стрелков, 31 корп., 4 литер М

									a.contacts__link(href="#") Схема проезда


								// /.contacts__item

							// /.contacts__col

							.contacts__col

								.contacts__item

									.contacts__title
										i.fas.fa-phone-alt
										| Телефоны:

									.contacts__data
										ul.list
											li
												a(href="tel:88007003333") 8 800 700 33 33
											li
												a(href="tel:74953228888") 7 (495) 322 88 88
												small (отдел продаж) 

									a.contacts__link(href="#") Заказать звонок


								// /.contacts__item

							// /.contacts__col

							.contacts__col

								.contacts__item

									.contacts__title
										i.fas.fa-envelope
										| E-mail:

									.contacts__data
										a.text-link(href="mailto:info@iprismebel.ru") info@iprismebel.ru

									a.contacts__link(href="#") Написать


								// /.contacts__item

							// /.contacts__col

							.contacts__col

								.contacts__item

									.contacts__title
										i.fas.fa-clock
										| Режим работы:

									.contacts__data
										ul.list
											li Пн-Пт: с 10:00 по 19:00,
											li Сб-Вс:  с 11:00 по 18:00

								// /.contacts__item

							// /.contacts__col

						// /.contacts__row.flex

						.requisites
						
							h3 Реквизиты:

							.requisites__row.flex

								.requisites__col

									table.requisites__table
										tr
											th Компания
											td OOO “Иприс Мебель”
										tr
											th Юредический адрес:
											td 195213, Санкт-Петербург, ул. Латышских стрелков, 31 корп., 4 литер М
										tr
											th Почтовый адрес:
											td 195213, Санкт-Петербург, ул. Латышских стрелков, 31 корп., 4 литер М
										tr
											th ИНН
											td 7734597835
										tr
											th КПП
											td 421025762

									// /.requisites__table
								// /.requisites__col

								.requisites__col

									table.requisites__table
										tr
											th р/с №
											td 30214899700351027529
										tr
											th Корр. сч:
											td 130032218795428556014
										tr
											th БИК банка
											td 142563557
										tr
											th Телефон
											td 8 800 700 33 33
										tr
											th E-mail:
											td info@iprismebel.ru
										tr
											th Директор
											td Алексеев Анатолий Анатолиевич

									// /.requisites__table
								// /.requisites__col

							// /.requisites__row

						// /.requisites

		
						div.contacts-map(style='position:relative;overflow:hidden;')
							a(href='https://yandex.ru/maps/2/saint-petersburg/?utm_medium=mapframe&utm_source=maps', style='color:#eee;font-size:12px;position:absolute;top:0px;') Санкт‑Петербург
							a(href='https://yandex.ru/maps/2/saint-petersburg/house/ulitsa_latyshskikh_strelkov_31/Z0kYcgNoTUMPQFtjfXVydH5mbQ==/?ll=30.454368%2C59.934810&utm_medium=mapframe&utm_source=maps&z=13.29', style='color:#eee;font-size:12px;position:absolute;top:14px;') Улица Латышских Стрелков, 31 — Яндекс.Карты
							iframe(src='https://yandex.ru/map-widget/v1/-/CCQxMNwblA', frameborder='1', allowfullscreen='true', style='position:relative;')




					// /.container

				// /.section







			

			// /.page


			// footer
			include pug-modules/footer
			// /.footer

		
		// /.main-wrapper

		include pug-modules/scripts

		

		//- div(style="height: 300px; margin-top: 50px; background: #f5f1f1;")
		
